.dist/
myenv/Include/
myenv/Lib/
myenv/Scripts/
myenv/1.15.2
myenv/2.11.0
myenv/2.11.1t
myenv/get-pip.py
myenv/pyvenv.cfg
myenv/tensorflow-2.6.1-cp37-cp37m-linux_x86_64.whl
myenv/plot.png
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.mp4
*.avi
*.mov
*.whl
